/* .login_page_main_container {
    border-radius: 20px;
    height: 100vh;
} */

.login_page_inside_container{
    display: flex;
    border-radius: 8px;
}

.login_page_left_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/dksgsqhdk/image/upload/v1757178365/login_image_klickks_ti6szc.png");
    background-repeat: no-repeat;
    width: 40%;
    padding: 0px 50px;
    background-size: cover;
}

.registration_container {
}
.login_right_header_para_container {
    margin-top: 200px;
    
}
.login_right_header_para_container h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    font-size: 25px;
    text-transform: uppercase;
}
.login_right_header_para_container p{
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 9px;
    text-align: center;
    color: #f1f1f1;
}

.login_page_form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
    background-color: #f1eaea;
   

}
.login_form_logo_heading_para_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}

.login_page_form_inside_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login_input_form {
    width: 400px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dcd6d649;
}

.login_page_klickks_title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 50px;
}

.login_logo_image {
    width: 350px;
    height: 100px;
}

.sign_in_button {
    width: 100%;
    margin-top: 25px;
    padding: 10px 30px;
    border-radius: 13px;
    border: 0px;
    background-color: #096ced;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.email {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7a7a7a;
}

.welcome_back_title {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 32px;
}
.sign_in_paragraph {
    font-weight: 300;
    margin-top: 0px;
    padding-top: 0px;
    text-transform: uppercase;
    font-size: 12px;
}

.login_signup_disclaimer {
    text-align: center;
    font-size: 12px;
}
.signup_button {
    background-color: #df0a0ae5;
}

@media screen and (max-width:767px){
    .login_page_left_image {
        display: none;
    }
    .login_page_form_container{
        padding: 0px 100px;
        width: 100%;
    }
    .dentist_scans_grid_container{
        margin:0px 10px 10px 0px;
    }
}
